*{
    margin: 0;
    padding: 0;
}
/*背景图片*/
.container{
    width: 320px;
    height: 480px;
    background: url("../images/game_bg.jpg") no-repeat 0 0;
    margin: 50px auto;
    position: relative;
}
/*得分情况*/
.container>h1{
    color: white;
    margin-left: 60px;
}
/*进度条*/
.container>.progress{
    width: 180px;
    height: 16px;
    background: url("../images/progress.png")no-repeat 0 0;
    position: absolute;
    top: 66px;
    left: 63px;
}
/*开始游戏*/
.container>.start{
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    /*线性渐变*/
    background: linear-gradient(#E55c3D,#C50000);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    top: 320px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
}
/*游戏规则*/
.container>.rules{
    width: 100%;
    height: 20px;
    background: #cccccc;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}
.container>.rule{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    display: none;

}
.rule>p{
    line-height: 50px;
    color: white;
}
.rule>a{
    color: red;
}
.container>.mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 200px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}
.mask>h1{
    color: #ff4500;
    /*文字阴影*/
    text-shadow: 3px 3px 0 #fff;
}
.mask>button{
    background:linear-gradient(#74ACCF,#007DDC);
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    top: 320px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
}